# Maven
target/
*.versionsBackup
dependency-reduced-pom.xml

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Documentacion extra
docs_extra
*_bck.md
